header{
    background-color: rgb(0, 217, 255);
    color: black;
    font-size: 25px;
    padding: 5px;
    text-align: center;
}
nav{
    background-color: lightblue;
    padding: 20px;
    font-size: 20px;
}
body{
    background-color: rgb(5, 202, 202);
    border: 30;
    padding: 30;
    
}

.robotclasses{
    padding-left: 75px; 
    padding-right: 75px; 
    
}