header{
    background-color: rgb(0, 217, 255);
    color: black;
    font-size: 25px;
    padding: 5px;
    text-align: center;
}
body{
    background-color: rgb(5, 202, 202);
    border: 30;
    padding: 5;
    
}
nav{
    background-color: lightblue;
    padding: 20px;
    font-size: 20px;
}
.paragraphText{
    font-size: 18px;

}
.rustlers{
    display: inline-flex;
    font-size: 18px;
}